body {
  background: url("../images/bananas.png");
}

#gif-area {
  margin-top: 15px;
}
.indiv-gif {
  margin-right: 5px;
}

#artist-form {
  margin-top: 15px;
  font-family: Arial;
  font-size: 17px;
}
.gifButton {
  background-color: #c37feb;
  border-radius: 28px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
